<div class="page">
    <div class="editor">
        <div class="top-editor">
            <p class="editor-title">Editor</p>
            <button class="button-26" role="button" (click)="run">Run</button>
        </div>
        <div class="content-editor">
            <textarea class="textarea" placeholder="Enter your code here"></textarea>
        </div>
    </div>
    <div class="output">
        <div class="top-output">
            <p class="output-title">Output</p>
        </div>
        <div class="content-output">
            <textarea class="textarea" placeholder="Output will be displayed here" readonly></textarea>
        </div>
    </div>
</div>
