  .home-container {
    height: var(--home-container-height); /* Use the CSS variable for height */
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
  }

  .header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
  }

  .about-section, .features-section, .github-section {
    margin: 20px 0;
  }

  .features-section ul {
    list-style-type: none;
    padding: 0;
  }

  .features-section li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .github-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  .github-link:hover {
    background-color: #555;
  }

  .footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
  }